<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrows</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
</head>
<body>
    <%- include('../partials/_navbar'); %>

    <%- include('../partials/_searchbar'); %>

    <div class="container">
        <div class="row">
            <% borrows.forEach(borrow => { 
                // Convert borrow.end to a Date object and compare with current date
                // Datum nach Ablauf prüfen und farbe ändern
                const endDate = new Date(borrow.end);
                const currentDate = new Date();
                const isOverdue = endDate < currentDate;
            %>
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Benutzer: <%= borrow.userid %></h5>
                            <p>Startdatum: <span class="card-date"><%= borrow.start %></span></p>
                            <p>Startdatum: 
                                <span class="card-date"><%= borrow.start %></span></p>
                            <p>Enddatum: 
                                <span class="card-date"style="<%= isOverdue ? 'color: red;' : '' %>">
                                    <%= borrow.end %>
                                </span>
                            </p>
                            <a href="#" class="btn btn-danger">Rückgabe</a>
                            <button class="btn btn-danger" onclick="returnBorrow('<%= borrow.id %>')">Rückgabe</button>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <%- include('../partials/_footer'); %>

    <script src="/javascripts/bootstrap.min.js"></script>
    <script>
        function returnBorrow(id) {
            console.log(`Rückgabe für Ausleihe mit ID: ${id}`); // Debugging-Log
            fetch(`/borrows/${id}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Fehler beim Entfernen der Ausleihe');
                }
                // Bei erfolgreicher Rückgabe die Seite neu laden
                window.location.reload();
            })
            .catch(error => {
                console.error('Fehler beim Entfernen der Ausleihe:', error);
                alert('Fehler beim Entfernen der Ausleihe.');
            });
        }
    </script>
</body>
</html>
</html>