<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link  rel="stylesheet" TYPE="text/css" href="/stylesheets/bootstrap.min.css">
</head>
<body>
    <%- include('../partials/_navbar'); %>

    <%- include('../partials/_searchbar'); %>

    <div class="container">
        <div class="row">
            <% equipment.forEach(equipment => { %>
                <div class="col-lg">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= equipment.title %></h5>
                            <p class="card-text"><%= equipment.title %></p>
                            <a href="#" class="btn btn-primary">Ansehen</a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <%- include('../partials/_footer'); %>

    <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>